.App {
  background-color: #08aeea;
  background-image: linear-gradient(
      62deg,
      rgba(8, 174, 234, 0.5),
      rgba(42, 245, 152, 1)
    ),
    url("./assets/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #08aeea;
  background-image: linear-gradient(62deg, #08aeea 0%, #2af598 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */
